<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Kalkulator walut</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.CSS') }}">
    </head>
    <body>
        <div>
            <h1>
                Kalkulator walut
            </h1>
            <h2>
                Jak to działa?
            </h2>
            <p>Wybierz walutę jaką chcesz zakupić, a następnie podaj jej ilość</p>
            <form method="POST">
                <label for="currency">Wybierz walutę:</label>
                <select name="currency" id="currency">
                    {% for code in codes %}
                    <option value={{code}}>{{code}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="amount">Podaj ilość:</label>
                <input type="text" id="amount" name="amount" required>
                <input type="submit" value="Oblicz">
            </form>
                {% if exchange_value %}
                <div>
                    <p><strong>{{amount}} {{currency}} ({{currency_name}})</strong> to koszt <strong>{{exchange_value}} PLN</strong></p>
                    <form method='GET' action="/calc/">
                        <input type="submit" value="Wyczyść">
                    </form>
                </div>
                {% endif %}

        </div>
    </body>
</html>